<html>
    <body>

        <h1>Welcome To AutoGrow V1 Demo</h1>
        <p1>Here at moLab we cooked up a the AutoGrow to precicesly manage the care of your plants</p1>
        <div>
            <p1>Lighting Toggle - </p1> <a href="light/on/"><button>ON</button></a>/<a href="light/off/"><button>OFF</button> </a> 
        </div>
        <div>
           <p1>Drain Water - </p1> <button> 5 seconds</button>
        </div>
             </div>
             <div>
                <p1>Drain Water - </p1> <button> 5 seconds</button>
             </div>
    </body>

</html>